<%# Displays list of @referrals %>
<% @my_referrals.each do |my_referral| %>
  <% item_link = employee_my_referral_path(my_referral) %>
  <div id="div_referral_<%= my_referral.id %>">
    <%= render :partial=>"item", :locals=>{:candidate=>my_referral, career_interest: my_referral, item_link: item_link} %>
  </div>
<% end %>
<%= theme_panel_message(I18n.translate("forms.no_results")) if @my_referrals.blank? %>

<%= theme_paginate(@my_referrals) %>
