<div class="panel panel-default media p-5">
  <a class="media-left" href="#">
  </a>
  <div class="media-body">
    <%= theme_item_title(candidate.name, "#") %>
    <%= theme_item_sub_title(candidate.course) %>
    <%= theme_item_sub_title(candidate.institution) %>
    <%#= theme_item_description(event.venue) %>
    <%#= clear_tag(10) %>
    <%#= theme_item_description(event.description, 80) %>
  </div>
</div>

